* text=auto
*.csv text eol=lf
*.cmd text eol=crlf
*.cpp text
*.hpp text
*.ico binary
*.ipp text linguist-language=C++
*.man text eol=crlf
*.sln text eol=crlf
*.txt text eol=crlf
*.vcproj text eol=crlf
